@model ModelLayer.Models.Game

@{
    ViewBag.Title = "GameDetails";
}

<div style="float: left; padding-top: 50px; padding-right: 100px;">
    <img src="@Html.DisplayFor(model => model.Picture)" style="height: 500px; width: 400px;" float="left;" />
</div>

<div style="padding-top: 50px;">
    <h1>@Html.DisplayFor(model => model.ItemName)</h1>
    <h2>Genre: @Html.DisplayFor(model => model.Genre)</h2>
    <h2>Længde: @Html.DisplayFor(model => model.PlayedTime)</h2>
</div>

@if (Session["userId"] != null)
{
    <h2>Lav et lille review min kejt</h2>

    <form id="CreateGameReview" action="/Review/CreateGameReview" method="Post">

        <input type="text" name="thoughts" value="" />
        <input type="text" name="score" value="0-5" />
        <input type="text" name="gameId" value="@Model.ItemID" hidden />
        <button type="submit">Submit</button>
    </form>
}